body {
    
    background: #2e3440;
    
    font-family: 'Lexend Deca', sans-serif;
    color: #eceff4;
    
}
img {
    width: 25%;
}
.headerImage {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
}
p{
    font-size: 24px;
}

li{
    font-size: 24px;
}

a{
    text-decoration: none;
    color : #5e81ac;
    transition-duration: .2s;
}

a:hover{
    text-decoration: none;
    color : #b48ead;
}

.files{
    width : 40.2vmin;
    height: 50.2vmin;
    padding: .1em;
    font-size: 40.2vmin;
    transition: 0.3s;
    color: #eceff4;
    display:inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #4c566a;
    border-radius: 8px;
}

.sub{
    font-size: 10%;
    color: #eceff4;
}

.files:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}

.header {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: #3b4252;
    border-radius: 8px; 
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 0px;
    margin-top: 0px;
}

@media screen and (max-width: 1350px) {
    .header {
        font-size: 5.5vw;
    }
}

.cardHeader {
    width: 100%;
    transition: 0.3s;
    background: #3b4252;
    border-radius: 8px; /* 5px rounded corners */
    font-size:200%;
  }
.cardHeader:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
    margin-top: 1em;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: #3b4252;
    border-radius: 8px; /* 5px rounded corners */
    text-align: left;
    font-size:200%;
  }
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card2 {
    margin-top: 1em;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: #3b4252;
    border-radius: 8px; /* 5px rounded corners */
    text-align: left;
    font-size:200%;
  }
.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}


.container2 {
    padding: 0px 0px;
}

.question {
    padding: .25em;
    margin-top: .1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: #434c5e;
    border-radius: 8px; /* 5px rounded corners */
    text-align: left;
    font-size:200%;
  }
  
  .answer {
    display:none;
    font-family: Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
  
  .show {
    display: none;
    text-decoration: none;
    color: #eceff4;
    font-size: 36px;
  }
  
  .hide:target + .show {
    display: inline;
    text-decoration: none;
  }
  
  .hide:target {
    display: none;
    text-decoration: none;
  }
  
  .hide:target ~ .answer {
    display:inline;
    text-decoration: none;
  
  }
  .hide {
    color: #eceff4;
    font-size: 36px;
  }
  
  @media print {
    .hide, .show {
      display: none;
    }
  }
